@import "~bootstrap/scss/bootstrap";

body {
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
    &:hover {
        color: #12a34d !important;
    }
}

button {
    box-shadow: none !important;
}

.container {
    max-width: 1900px;
    padding-left: 7.35%;
    padding-right: 7.35%;
}

.dropdown-toggle::after {
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3.8px;
    position: relative;
    transform: rotate(45deg);
    margin-left: 10px;
    transition: transform 0.4s ease-out;
}

.dropdown {
    a:hover {
        &::after {
            top: 4px;
            transform: rotate(225deg);
        }
    }
}

.accordion-item {
    margin-bottom: 1rem;
    border-radius: var(--bs-accordion-inner-border-radius);
    box-shadow: 0 0 9px 4px #0000003b;
}

.accordion-button {
    background: none !important;
    color: #0277bd;
    line-height: 1.5rem;
    font-weight: bolder;
}

.nav-item {
    .dropdown-menu {
        border: 0;
        box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
        a {
            text-transform: capitalize !important;
            border-bottom: 1px solid #ccc;
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}
