.reviews {
    background: #cce4f2;
    padding: 50px 0;
    &__card {
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }

    &__logo {
        height: 50px;
        object-fit: contain;
    }

    &__title {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 0.9rem;
        color: #555;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }

    &__reviewer {
        color: #777;
    }

    &__rating {
        .reviews__star_filled {
            color: #ffcc00;
        }
        .reviews__star_empty {
            color: #ddd;
        }
    }
}
